@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    src: url(assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf) format("truetype");
}