.top-footer {
  background-color: #222;
  color: #eee;
  padding: 20px 0;
  font-weight: bold;

  a {
    padding: 8px 0;
    display: block;
  }

  p, h6 {
    margin: 0;
  }

  p {
    font-size: 16px;
  }

  h6 {
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 4px solid #333;
  }

  a:hover {
    text-decoration: none;
  }

  [class^="col"] {
    padding: 20px;
  }
}

.bottom-footer {
  background-color: #111;
  padding: 20px 0;

  h6 {
    font-size: 15px;
    margin: 0;
    color: #eee;
    font-weight: bold;
  }
}