$color-primary:             #159957;
$color-secondary:           #36454f;

$color-black:               #000000;
$color-gray-dark:           #373a3c;
$color-gray:                #55595c;
$color-gray-light:          #818a91;
$color-white:               #ffffff;

$sm-break:                  em(768px);
$md-break:                  em(992px);
$lg-break:                  em(1200px);